/* Write your CSS here */

.vaccination-coverage-container {
  background-color: #1c1c2b;
  width: 80vw;
  padding: 20px;
}

.vaccination-coverage {
  font-size: 25px;
  color: #cbd5e1;
  font-weight: 500;
}
